<div class="row">
  <div class="col-" >
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3><a routerLink="/Dashboard">Dashboard</a></h3>
        </div>

        <ul class="list-unstyled components">
          <li *ngIf="isSuperAdmin">
            <a routerLink="GestionAdmins">Gestion des Admins</a>
          </li>
          <li>
            <a routerLink="GestionAbonnes">Gestion des Abonnés</a>
          </li>
          <li *ngIf="isSuperAdmin">
            <a routerLink="GestionCategories">Gestion des Catégories</a>
          </li>

          <li>
            <a routerLink="GestionAnnnoces">Gestion des Annonces</a>
          </li>
          <li>
            <a routerLink="TraiterReclamations">Traiter Réclamations</a>
          </li>
        </ul>
      </nav>


  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>

