.container-fluid{
  padding-top: 30px;
  margin-bottom: 30px;
}

.container{
  margin: 15px;
}

.title{
  margin-bottom: 30px;
}
 .table{
   margin: 0px;
 }

.card{
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.52);
  -moz-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.52);
  box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.52);
}

.card-body{
  padding: 0px;
}

.btn{
  margin: 5px;
}

