.container-fluid{
  padding: 2%;
  background-color:#f8f8f8 ;

}
#row1 {
  list-style-type: none;
  display: inline-block;
  text-align: left;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
  font-size: 18px;


}
#row2 {
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
  text-align: center;
  display: inline-flex;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 16px;
}





.btn-default {
  margin: 5px;
  color: #485b6f;
  background-color: #e3e6e7;
  border-color: #c1c4c4; }
.btn-default:focus, .btn-default.focus, .btn-default:hover, .btn-default.active, .btn-default:active, .btn-default:disabled, .btn-default.disabled {
  color: #485b6f !important;
  background-color: #d5dadb !important;
  border-color: #b4b8b8 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none; }
//

//
.btn-info {
  color: #fff;
  background-color: #1B95E0;
  border-color: #1e9cc3; }
.btn-info:focus, .btn-info.focus, .btn-info:hover, .btn-info.active, .btn-info:active, .btn-info:disabled, .btn-info.disabled {
  color: #fff !important;
  background-color: #1B95E0 !important;
  border-color: #1b8aad !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none; }
//

//
.btn-rounded {
  -webkit-border-radius: 50px !important;
  border-radius: 50px !important; }

.btn-group.btn-rounded > .btn:first-child {
  -webkit-border-radius: 50px 0 0 50px !important;
  border-radius: 50px 0 0 50px !important; }

.btn-group.btn-rounded > .btn:last-child {
  -webkit-border-radius: 0 50px 50px 0 !important;
  border-radius: 0 50px 50px 0 !important; }

.btn-group-vertical.btn-rounded > .btn:first-child {
  -webkit-border-radius: 50px 50px 0 0 !important;
  border-radius: 50px 50px 0 0 !important; }

.btn-group-vertical.btn-rounded > .btn:last-child {
  -webkit-border-radius: 0 0 50px 50px !important;
  border-radius: 0 0 50px 50px !important; }
//

//
.ibox {
  -webkit-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.52);
  -moz-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.52);
  box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.52);

  background-color: white;
  position: relative;
  border-radius: 10px;
  margin-bottom: 25px;


}
.ibox .ibox-head {
  padding: 0 20px;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px; }
.ibox .ibox-head .ibox-title {
  font-size: 16px;
  font-weight: 600; }
.ibox .ibox-head .ibox-title small {
  font-weight: 400;
  font-size: 13px;
  color: #777; }
.ibox .ibox-head .ibox-title small a {
  color: inherit; }
.ibox .ibox-head .ibox-tools {
  position: relative; }
.ibox .ibox-head .ibox-tools > a {
  color: #aaa;
  font-size: 14px;
  padding: 0 6px; }
.ibox .ibox-head .ibox-tools > a:hover {
  color: #6d7c85; }
.ibox .ibox-head .nav-tabs {
  margin: 0;
  border: 0;
  height: 100%; }
.ibox .ibox-head .nav-tabs .nav-link {
  height: 100%;
  padding: .9rem 1rem; }
.ibox .ibox-body {
  padding: 15px 20px 20px 20px; }
.ibox .ibox-footer {
  padding: 10px 0;
  border-top: 1px solid #eee; }
.ibox.ibox-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 1005; }
.ibox.ibox-fullscreen .fullscreen-link > i::before {
  content: "\f066"; }
.ibox.collapsed-mode .ibox-collapse > i::before {
  content: "\f067"; }

.ibox-primary .ibox-head {
  color: #fff;
  background-color: #1B95E0; }
.ibox-primary .ibox-head .ibox-tools > a, .ibox-primary .ibox-head .ibox-tools > a:hover {
  color: #fff; }

.ibox-success .ibox-head {
  color: #fff;
  background-color: #2ecc71; }
.ibox-success .ibox-head .ibox-tools > a, .ibox-success .ibox-head .ibox-tools > a:hover {
  color: #fff; }

.ibox-info .ibox-head {
  color: #fff;
  background-color: #1B95E0; }
.ibox-info .ibox-head .ibox-tools > a, .ibox-info .ibox-head .ibox-tools > a:hover {
  color: #fff; }

.ibox-warning .ibox-head {
  color: #fff;
  background-color: #F39C12; }
.ibox-warning .ibox-head .ibox-tools > a, .ibox-warning .ibox-head .ibox-tools > a:hover {
  color: #fff; }

.ibox-danger .ibox-head {
  color: #fff;
  background-color: #e74c3c; }
.ibox-danger .ibox-head .ibox-tools > a, .ibox-danger .ibox-head .ibox-tools > a:hover {
  color: #fff; }

.ibox-grey .ibox-head {
  color: #fff;
  background-color: #bdc3c7; }
.ibox-grey .ibox-head .ibox-tools > a, .ibox-grey .ibox-head .ibox-tools > a:hover {
  color: #fff; }
//
//body.fullscreen-mode {
//  overflow-y: hidden; }
//
.nav-pills, .nav-tabs {
  margin-bottom: 15px; }
.nav-pills .nav-link, .nav-tabs .nav-link {
  color: inherit; }

.nav-tabs .nav-link {
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  margin-right: 0;
  padding: .7rem 1rem; }
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus, .nav-tabs .nav-link.active {
  color: #333; }
//
.tabs-line > li .nav-link {
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  border-bottom: 3px solid transparent; }
.tabs-line > li .nav-link:hover {
  border-color: transparent;
  background-color: transparent;
  border-bottom-color: #cce5f6 !important; }
.tabs-line > li .nav-link.active, .tabs-line > li .nav-link.active:hover, .tabs-line > li .nav-link.active:focus {
  border-color: transparent;
  border-bottom: 3px solid #1B95E0 !important; }

.tabs-left, .tabs-right, .tabs-line-left, .tabs-line-right {
  border-bottom: 0; }

.tabs-line-left {
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 20px; }
.tabs-line-left > li > .nav-link, .tabs-line-left > li > .nav-link:focus {
  border-right: 1px solid #ddd; }
.tabs-line-left > li > .nav-link:hover {
  border-color: transparent;
  border-right: 3px solid #caf0f2;
  padding-right: 13px;
  margin-right: -1px; }
.tabs-line-left > li > .nav-link.active, .tabs-line-left > li > .nav-link.active:hover, .tabs-line-left > li > .nav-link.active:focus {
  border: 1px solid transparent;
  border-right: 3px solid #1B95E0;
  padding-right: 13px;
  margin-right: -1px; }

.tabs-line-right {
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 20px; }
.tabs-line-right > li > .nav-link, .tabs-line-right > li > .nav-link:focus {
  border-left: 1px solid #ddd; }
.tabs-line-right > li > .nav-link:hover {
  border-color: transparent;
  border-left: 3px solid #caf0f2;
  padding-left: 13px;
  margin-left: -1px; }
.tabs-line-right > li > .nav-link.active, .tabs-line-right > li > .nav-link.active:hover, .tabs-line-right > li > .nav-link.active:focus {
  border: 1px solid transparent;
  border-left: 3px solid #1B95E0;
  padding-left: 13px;
  margin-left: -1px; }
//

.tabs-below .nav-item {
  margin-bottom: 0;
  margin-top: -1px; }
.tabs-below .nav-link.active {
  border-color: transparent #ddd #ddd !important; }

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus {
  background-color: #1B95E0 !important;
  color: #fff; }

.nav-pills .nav-link {
  -webkit-border-radius: 2px;
  border-radius: 2px; }
//

//
//
.form-control {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
.form-control:focus {
  border-color: #1B95E0; }
//
//
//
.img-circle {
  -webkit-border-radius: 50%;
  border-radius: 80%;
  max-width: 200px;
  max-height: 200px;
}

///*
//
.fade-in-up {
  -webkit-animation: fadeInUp .5s;
  animation: fadeInUp .5s; }

//


//
.m-t-20 {
  margin-top: 20px !important; }



.font-strong {
  font-weight: 600 !important; }

//
.page-content {

  padding-top: 20px;
}
//
//
//
//
