.btn{
  margin-right:5px ;
  background: #1B95E0;
  border: #1B95E0;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}
.form-control{
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;

}
.navbar{
  box-shadow: 0px 1px 10px #999;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #f4f4f8;
  background-color: #ffffff;
}

a {
  color: #657786;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
}

a:hover{
  color: #1B95E0;
}




//my-5
