<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <img src="./assets/image/profile/default.png" class="img img-rounded img-fluid"/>
          <p class="text-secondary text-center">1 m</p>
        </div>
        <div class="col-md-10">
          <p>
            <a class="float-left" routerLink="/profil/{{commentaire.username}}" ><strong>{{commentaire.username}}</strong></a>

          </p>
          <div class="clearfix"></div>
          <p>{{commentaire.contenu}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
