.container-fluid{
  margin: 0px;
  padding: 0px 0px ;
  background-color:#e6ecf0 ;


}

//#side{
//  padding-left: 0px;
//}

.row{
  margin: 0px;
}

.col-9{
  padding-left: 40px;
}
//.container{
//  padding-bottom: 100px;
//  padding-top: 40px;
//
//}

h5{
  color:#657786 ;
  margin-top: 20px;
}

#trie{

  width: 160px;
}


a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

select{
  border-radius: 50px;
  //background-color: #1B95E0;
  //color: #fff;
}
option{
  border-radius: 50px;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


//.wrapper {
//  display: flex;
//  //min-width: 250px;
//  //max-width: 250px;
//  align-items: stretch;
//  perspective: 1500px;
//  margin: 10px;
//  border-radius: 25px;
//  -webkit-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.52);
//  -moz-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.52);
//  box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.52);
//}


#sidebar {

  width: 275px;
  height: 100%;

  //min-width: 300px;#48AAE6
  background-image: linear-gradient(180deg,#1B95E0 0,#3333 150%);


  //background:#5e9eed;
  color: #ffffff;
  //transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  //transform-origin: bottom left;
  //border-radius: 0px 10px 10px 0px;
  //-webkit-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.52);
  //-moz-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.52);
  //box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.52);
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);

}



#sidebar ul.components {
  padding: 10px ;
  margin: 0px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;

}
#sidebar ul li a:hover {
  color: #fff;
  //background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  //background: #fff;

}


a[data-toggle="collapse"] {
  position: relative;

}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);


}

ul ul a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em !important;
  padding-left: 30px !important;
  //background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;

}






/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);

}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;

}






