<div class="container-fluid " *ngIf="user">
  <div class="page-heading">
    <!--<h3 class="page-title">Mon compte</h3>-->
  </div>
  <div class="page-content fade-in-up  ">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="ibox">
          <div class="ibox-body text-center">
            <div class="mr-sm-4">
              <img class="img-circle" src="{{user.image}}"/>
            </div>

            <h5 class="font-strong m-b-10 m-t-10">{{user.nom}} {{user.prenom}}</h5>


            <ul id="row1" class="row">
              <li><label><b>À propos :</b></label></li>
              <li><label><i class="fas fa-clock-o"> Dernière connexion :</i> 1 jour</label></li>
              <li><label><i class="fas fa-calendar "> Inscrite le :</i> {{user.dateInscription | date: 'dd MMMM y'}}
              </label></li>
            </ul>
            <hr>
            <ul id="row2" class="row">
              <li class="col-6">
                <div class="text-muted">Annonces</div>
                <div>5</div>
              </li>

              <li class="col-6">
                <div class="text-muted">Abonnements</div>
                <div>10</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8">
        <div class="ibox">
          <div class="ibox-body">
            <ul class="nav nav-tabs tabs-line">
              <li class="nav-item">
                <a class="nav-link active" href="#tab-1" data-toggle="tab"><i class="fa fa-bullhorn"></i> Mes Annonces
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tab-2" data-toggle="tab"><i class="fa fa-heart"></i> Favoris </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tab-3" data-toggle="tab"><i class="fa fa-users"></i> Abonnements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tab-4" data-toggle="tab"><i class="fas fa-cog"></i> Paramètre</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tab-1">
                <div class="row">
                  <app-card *ngFor="let annonce of annonces" [id]="annonce.id"></app-card>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-2">
                <h5 class="text-info m-b-20 m-t-20"><i class="fa fa-bullhorn"></i> favoris</h5>
                <div class="row">
                  <app-card *ngFor="let f of user.favoris" [id]="f"></app-card>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-3">
                <h5 class="text-info m-b-20 m-t-20"><i class="fa fa-bullhorn"></i> Latest Feeds</h5>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="container col-10">
                  <h4 class="m-y-2">Modifier Profil</h4>
                  <br>
                  <form role="form">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Nom</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{user.prenom}}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Prenom</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{user.nom}}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Email</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="email" value="{{user.email}}">
                      </div>
                    </div>


                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Addresse</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="Rue">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"></label>
                      <div class="col-lg-6">
                        <input class="form-control" type="text" value="" placeholder="Ville">
                      </div>
                      <div class="col-lg-3">
                        <input class="form-control" type="text" value="" placeholder="Gouvernorat">
                      </div>
                    </div>


                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Mot de passe</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="password" value="" placeholder="Mot de passe">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"></label>
                      <div class="col-lg-9 ">
                        <div class="pull-right">
                          <input type="button" class="btn btn-info btn-rounded m-b-5 " value="Valider">
                          <input type="reset" class="btn btn-default btn-rounded m-b-5 " value="Annuler">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

